{
  "clientId": "your-client-id",
  "guildId": "your-guild-id",
  "token": "your-token",
  "apiUrl": "https://server.com",
  "hallOfFameChannelId": "channel-id-in-which-to-post-winner",
  "announceGameChannelId": "channel-id-in-which-to-announce-next-game"
}
